@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 

* {
    box-sizing: border-box;
    color: rgb(57, 60, 65);
}

body {
    background-color: #fff;
    font-family: "Gotham Medium", sans-serif;
    margin: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}

#logo {
    margin: 1rem 0 0 2rem;
}

header {

    color: black;
    position: fixed;
    top: 0;
}

.page {
    height: 100vh;
    width: 100vw;
    /* border: 30px solid black; */
    background-size: cover;
    background-position: center center;
    text-align: center;
    position: inherit;
}

#page-1 {
    background-image: url("../resources/Model_S.jpg");
}

#page-2 {
    background-image: url('../resources/Model_Y.jpg');
}

nav {
    padding: 0.25rem;
    margin: 0 auto;
    max-width: 100%;
    width: 1520px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav li a {
    color: black;
    padding: 1rem;
    text-decoration: none;
}

.selected {
    font-weight: bold;
}

.highlight {
    opacity: 0.9;
    background-color: white;
    color: black;
    padding: 1rem;
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.title {
    font-size: 40px;
    margin: 0% auto;
}

.order {
    font-size: 14px;
    margin-top: 0%;
}

.blocks {
    width: 100%;
    position: relative;
    margin: auto;
    top: 490px;
}

button {
    font-family: inherit;
    width: 256px;
    height: 40px;
    margin: 0px 10px;
    border-radius: 20px;
    opacity: 0.8;
}

.custom-order {
    color: white;
    background-color: rgba(23, 26, 32);
}

.content {
    position: relative;
    top: 125px;
}